mat-card {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

table {
    width: 100%;
    align-self: center;
}

td,th{
    width: 25%;
}

.example-container {
    height: 400px;
    overflow: auto;
  }
